
a {
    text-decoration: none;
}

a.new {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

span.mw-editsection {
    display: none;
}

blockquote {
    border: 2px dashed #8884;
    border-inline-start: 5px solid #222;
    padding: 10px;
    background: #8881;
    text-indent: 0px;
}

blockquote p {
    margin: 0px;
}

.tp_link a:active {
    color: inherit !important;
}
.tp_link a:hover {
    color: inherit !important;
}
.tp_link a:link {
    color: inherit !important;
}
.tp_link a:visited {
    color: inherit !important;
}

span.color a {
    color: inherit !important;
}

@media screen and (max-width:520px) {
    .tright, .floatright {
        float: none;
    }
}
