
a {
    text-decoration: none;
}

a.new {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

span.mw-editsection {
    display: none;
}

.tp_link a:active {
    color: inherit !important;
}
.tp_link a:hover {
    color: inherit !important;
}
.tp_link a:link {
    color: inherit !important;
}
.tp_link a:visited {
    color: inherit !important;
}

span.color a {
    color: inherit !important;
}

@media screen and (max-width:520px) {
    .tright, .floatright {
        float: none;
    }
}
