
#catlinks {
    border: 1px solid #c8c8c8;
    background: #f8f8f8;
    margin: 16px 0px;
    padding: 8px 16px;
}
#catlinks li {
    display: inline;
}
#catlinks ul {
    display: inline;
    padding: 0;
}
#catlinks li:after {
    content: " · ";
}
#catlinks li:last-child:after {
    content: none;
}
#mw-hidden-catlinks {
    display: none;
}