
body {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: #2196F3;
}

a.new {
    color: #FF9800;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

blockquote {
    border: 2px dashed #262626;
    border-inline-start: 5px solid #ddd;
    padding: 10px;
    background: #111;
    text-indent: 0px;
}

blockquote p {
    margin: 0px;
}
