
table {
    border-spacing: 0px;
    border-collapse: collapse;
}

table.wikitable th, table.wikitable td {
    border: 1px solid #c8c8c8;
    background: white;
    padding: 5px;
}

table.wikitable th {
    background: #f8f8f8;
}

table.wikitable {
    margin: 10px 0;
}

table.infobox {
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 26em;
}